

 body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0; 
}

.titleContainer {
  text-align: center;
  margin-bottom: 40px;
}

.titleContainer h1 {
  font-size: 2.5em;
  font-weight: bold;
  color: #333; 
}

/* Result and History containers */
.resultContainer,
.historyContainer {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  overflow: hidden; /* Hide overflowing content */
}

/* History item */
.historyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd; /* Light gray border */
}

/* Button container */
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  font-weight: bold;
  color: #fff; /* White text */
  background-color: #007bff; /* Blue button */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Input container */
.inputContainer {
  margin-bottom: 20px;
}

.errorLabel {
  font-size: 0.8em;
  color: red;
}

.inputBox {
  width: 100%;
  max-width: 400px;
  height: 48px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.inputBox:focus {
  border-color: #007bff; /* Blue border on focus */
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Light gray border */
}

th {
  background-color: #f2f2f2; /* Light gray background for headers */
}

/* Hover effect for table rows */
tr:hover {
  background-color: #f5f5f5; /* Light gray background on hover */
} 

